.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
  .title-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  .my-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
  .my-skills div {
    display: flex;
    width: inherit;
  }
  .my-skills div p {
    font-size: 2rem;
    width: 50%;
    text-align: center;
    /* text-decoration:underline; */
    border-bottom: 5px solid rgb(118, 148, 118);
    padding: 1rem;
  }
  